# Destination server details (to where you are encoding).  Valid server types : Shoutcast, Icecast, Icecast2
ServerType=Icecast2
Server=192.168.1.100
Port=8000
ServerPassword=hackme
ServerMountpoint=/stream
# YP (Stream Directory) Settings
ServerPublic=1
ServerIRC=
ServerAIM=
ServerICQ=
ServerStreamURL=http://www.google.com
ServerName=I need a server name
ServerDescription=I neglected to set my server description
ServerGenre=Dubstep
AutomaticReconnectSecs=10
AutoConnect=0
# Output codec selection (Valid selections : MP3, OggVorbis, Ogg FLAC, AAC, AAC Plus)
Encode=MP3
# General settings (non-codec related).  Note : NumberChannels = 1 for MONO, 2 for STEREO
BitrateNominal=160
BitrateMin=256
BitrateMax=256
NumberChannels=2
Samplerate=44100
# Ogg Vorbis specific settings.  Note: Valid settings for BitrateQuality flag are (Quality, Bitrate Management)
OggQuality=5
OggBitrateQualityFlag=Quality
# LAME specific settings.  Note: Setting the low/highpass freq to 0 will disable them.
LameCBRFlag=1
LameQuality=10
LameCopywrite=0
LameOriginal=0
LameStrictISO=0
LameDisableReservior=0
LameVBRMode=vbr_rh
LameLowpassfreq=0
LameHighpassfreq=0
LAMEPreset=0
# AAC (FAAC) specific settings.
AACQuality=100
AACCutoff=
# Log Level 1 = LOG_ERROR, 2 = LOG_ERROR+LOG_WARNING, 3 = LOG_ERROR+LOG_WARNING+LOG_DEBUG
LogLevel=3
# Log File
LogFile=edcast2_jack_loggy_log
